/* modifier toute le corps de la page */
body{
	background-color: #1d3163; 
	color: #f7f7f7;
	font-family:"Arial";
}

/* Modifier la taille de la patate */
img {
	width: 198px;
  	height: 300px;
}

/* modifier les titres */
h2{	
	font-weight:bold;
	font-family: "Times New Roman";
	text-decoration: underline;
	font-variant: small-caps;
	background: #38508f;
}

/* modifier la petite partie en italique */
.italique{
	font-style: italic;
	color: #a3a3a3;
}

/* modifier le lien hypertexte */
a{
	color:#ffffff;
}


